.car-list {
    padding: 0 70px;
    text-align: left;
}

.car-item {
    display: inline-block;
    background-color: #fff;
    height: 250px;
    width: 250px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.36);
    text-align: left;
}


.car-item h2 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #434343;
    padding: 8px 10px;
    display: block;
    width: 115px;
    white-space: nowrap;

}

.car-item .car-details {
    height: 55px;
    text-align: left;
    display: flex;
}

.car-item p {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 55px;
}

.car-item .power {
    margin-right: 45px;
    margin-left: 10px;
}

.car-item .price {
    display: block;
    width: 115px;
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
    color: #3db530;
}

.car-item .image-place {
    width: 100%;
    display: block;
    height: 195px;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        left: 0;
        height: 220px;
    
    }
}

@media only screen and (max-width: 1120px) {
    .car-item {
        width: 24%;
    }
}

@media only screen and (max-width: 720px) {
    .car-item {
        width: 48%;
    }
}

@media only screen and (max-width: 500px) {
    .car-item {
        width: 96%;
    }
}