<div class="car-list">
    <div class="car-item" *ngFor="let car of cars" (click)="onSelect(car)">
    <div class="car-header">
        
    </div>
    
    <div class="image-place">
        <img src="{{car.imageUrl}}">
    </div>

    <div class="car-details">
        <h2>{{car.manufacturer}} {{car.model}}</h2><br/>
        <!--<p class="power"><b>Power:</b> {{car.power}} bhp</p>-->
        <p class="price">£{{car.price}}</p>
    </div>
</div>
</div>
<div *ngIf="selectedCar">
<car-detail [selectedCar]="selectedCar" (deletedCar)="getCars()"></car-detail>
</div>