/* You can add global styles to this file, and also import other style files */
html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}

car-list {
    margin-top: 10px;
    display: block;
}
