<form
(ngSubmit)="save()"
[formGroup]="carForm">
    <div class="form-field">
        <label>Manufacturer</label>
        <input class="form-control" 
               type="text"
               placeholder="Manufacturer"
               formControlName="manufacturer"
               >
        <span class="help-block" *ngIf="(carForm.get('manufacturer').touched || carForm.get('manufacturer').dirty) && carForm.get('manufacturer').errors">
            <span *ngIf="carForm.get('manufacturer').errors.required">Please enter a manufacturer</span>
            
        </span>
    </div>

    <div class="form-field">
            <label>Model</label>
            <input class="form-control" 
                   type="text"
                   placeholder="Model"
                   formControlName="model"
                   >
            <span class="help-block" *ngIf="(carForm.get('model').touched || carForm.get('model').dirty) && carForm.get('model').errors">
                <span *ngIf="carForm.get('model').errors.required">Please enter a model</span>
            </span>
    </div>

    <div class="form-field">
            <label>Power</label>
            <input class="form-control" 
                    type="number"
                    formControlName="bhp"
                    >
            <span class="help-block" *ngIf="(carForm.get('bhp').touched || carForm.get('bhp').dirty) && carForm.get('bhp').errors">
                <span *ngIf="carForm.get('bhp').errors.required">Please enter the power output</span>
                <span *ngIf="carForm.get('bhp').errors.range">Power output cannot be less than 10 or more than 1000</span>
            </span>
    </div>


    <!--<div class="form-field">
            <label>Type</label> <br/>
            <div class="checkbox-collection" formGroupName="typeGroup">
                <input class="form-control form-checkbox" type="checkbox" name="sports" value="sports" formControlName="sports">Sports <br>
                <input class="form-control form-checkbox" type="checkbox" name="hatchback" value="hatchback" formControlName="hatchback">Hatchback <br>
                <input class="form-control form-checkbox" type="checkbox" name="coupe" value="coupe" formControlName="coupe">Coupe <br>
                <input class="form-control form-checkbox" type="checkbox" name="mpv" value="mpv" formControlName="mpv">MPV <br>
            </div>
            <span class="help-block"  *ngIf="(carForm.get('typeGroup').touched || carForm.get('typeGroup').dirty) && carForm.get('typeGroup').errors">
                    <span *ngIf="carForm.get('typeGroup').errors.moreThanOne">You can only select one type</span>
            </span>
    </div>-->

    <div class="form-field">
            <label>Price</label>
            <input class="form-control" 
                    type="number"
                    min="10"
                    max="1000000"
                    formControlName="price"
                    >
            <span class="help-block" *ngIf="(carForm.get('price').touched || carForm.get('price').dirty) && carForm.get('price').errors">
                    <span *ngIf="carForm.get('price').errors.required">Please enter the price</span>
            </span>
    </div>

    <div class="form-field">
            <label>Provide an image URL</label>
            <input class="form-control" 
                    type="text"
                    placeholder="./my-image-location"
                    formControlName="imageUrl"
                    >
            <span class="help-block">
    
            </span>
    </div>

    <div class="form-field">
        <span>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="!carForm.valid">
                Save
            </button>
        </span>
    </div>
</form>